@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.spam-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4% 10%;
    gap: 20px;
}

.spam-card {
    flex: 0 0 200px;
    width: 15rem;
    margin: 10px;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spam-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    .spam-card-container {
        flex-direction: column;
    }

    .spam-card {
        flex: 1 0 auto;
        margin: 10px 0;
    }
}