@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
    background-color: #f2e9e9;
    font-family: 'Roboto', sans-serif;
}

.menu-icon-pkmn-type{
    position: fixed;
    right: 10px;
    height: 10rem;
    width: auto;
}

.menu-icon-pkmn-ball{
    position: fixed;
    left: 10px;
    height: 10rem;
    width: auto;
}

.spam-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4% 10%;
    gap: 20px;
}

.spam-card {
    flex: 0 0 200px;
    width: 15rem;
    margin: 10px;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: #ffffff
}

.spam-card img {
    padding: 3.5%;
}

.spam-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.form-search-pokemon {
    margin: 0 auto 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.form-search-pokemon form{
    margin-top: 0;
}

.see-more {
    text-decoration: none;
    font-size: 1.4rem;
}