.main {
    display: flex;
}

.left, .right {
    width: 50%;
    height: 100vh;
    box-shadow: inset 0 0 50px rgb(0, 0, 0);
}

.left-bg {
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
}

.left-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 1% 0;
}

.pokemon_img {
    width: 12%;
    height: auto;
    position: absolute;
}

.right {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-top {
    height: 100%;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-catalog {
    box-shadow: -1px 0 5px #eae6ba, 1px 0 5px #eae6ba, 0 -1px 5px #eae6ba, 0 1px 5px #eae6ba;
    border: none;
    font-size: 1.3rem;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    border-radius: 40px;
    margin-top: 10%;
    background-color: #629699;
    color: #eae6ba;
    transition: background-color 0.5s ease;
}

.btn-catalog:hover {
    text-decoration: none;
    background-color: #eae6ba;
    color: #629699;
    cursor: pointer;
}


.right-bottom {
    display: flex;
    justify-content: space-around;
}

.arrow {
    text-align: center;
    font-size: 100%;
    border-radius: 100%;
    border: none;
    background-color: #629699;
    padding: 20px;
    transition: background-color 0.5s ease;
    margin-bottom: 10px;
    box-shadow: -1px 0 5px #eae6ba, 1px 0 5px #eae6ba, 0 -1px 5px #eae6ba, 0 1px 5px #eae6ba;

}

.arrow:hover {
    background-color: #eae6ba;
}

.arrow:hover i {
    color: #629699;
}

.arrow i {
    font-size: 4rem;
    color: #eae6ba;
}

#delete-team {
    color: #eae6ba;
    border: none;
    background-color: #629699;
    transition: 0.5s ease;
    margin-bottom: 10px;
    border-radius: 10%;
    box-shadow: -5px 0 10px #888888, 5px 0 10px #888888, 0 -5px 10px #888888, 0 5px 10px #888888;
}

#delete-team i {
    font-size: 4rem;
    color: #eae6ba;
}

#delete-team:hover {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#delete-team:hover i {
    color: #629699;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(98, 150, 153);
    display: none;
    z-index: 1;
    animation: fadeInOut 1s ease-in-out;
    width: 50%;
    height: 100vh;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
