{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/modals/card.css' %}">
{% endblock %}
<div id="popup" class="card" style="width: 18rem;">
    <span class="popup-close btn-close"></span>
    <img src="..." class="card-img-top popup-img" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pokemon name</h5>
        <p id="popup-text" class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's
            content.</p>
        <form class="" id="container_team" action="{% url 'add_pokemon_to_team' %}" method="post">
        </form>
    </div>
</div>