{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/modals/createTeam.css' %}">
{% endblock %}

<div class="popup" id="popupTeam">
    <div class="popup-content">
        <span class="close" id="closePopupBtnTeam">&times;</span>
        <form id="popupFormTeam" action="{% url 'add_team' %}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="nameTeam" name="name" value="" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>