{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/catalog/cardsSpamm.css' %}">
{% endblock %}

{% block body %}
<div class="card-container">
{% for c in catalog %}
    <div class="card" style="background-color: rgba(246,240,240,0.53);">
        <a href="{% url 'see_all_pokemon_by_catalog' catalog=catalog_name id=c.name %}">
            <img src="{% static c.theme.icon %}" alt="{{ "icon" }}">
            {{ c.name }}
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}