{% extends 'base.html' %}
{% load static %}

{% block style %}

    <link rel="stylesheet" href="{% static 'css/catalog/cardsSpamm.css' %}">
{% endblock %}

{% block body %}
    <div class="spam-card-container" style="background-color: rgba(246,240,240,0.53);">
        {% for c in catalog %}
            <div class="spam-card" style="background-color: {{ c.theme.color }}">
                <a href="{% url 'see_all_pokemon_by_catalog' catalog_type=c.catalog_type catalog_name=c.name %}">
                    <img src="{% static c.theme.icon %}" alt="{{ "icon" }}">
                    {{ c.name }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}