{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/catalog/cardsSpamm.css' %}">
    <style>
        body {
            background-color: {{ catalog.theme.color }};
        }
    </style>
{% endblock %}


{% block body %}
    <a href="/">
        <img src="{% static 'img/pokeball-notre-icon.png' %}" alt="Home" class="menu-icon-pkmn-ball">
    </a>
    <a href="{% url 'see_all_catalog' catalog_type=catalog.catalog_type %}">
        <img src="{% static catalog.theme.icon %}" alt="Catalog des types" class="menu-icon-pkmn-type">
    </a>
    <div class="spam-card-container">
        {% for pokemon in catalog.pokemons %}
            <div class="pokemon_img spam-card" data-full-pokemon="{{ pokemon }}"
                 data-full-team="{{ teams }}">
                <img src="{{ pokemon.sprite_front }}" alt="Image" class="img-fluid" style="width: 15rem; height: auto">
                <p>{{ pokemon.name }}</p>
            </div>
        {% endfor %}
        {% if page_info.display_button %}
            <a class="pokemon_img spam-card see-more"
               href="{% url 'see_all_pokemon_by_catalog' catalog_type=catalog.catalog_type catalog_name=catalog.name %}?max={{ page_info.max_pokemon }}">
                <img src="{% static page_info.shadow_img %}" alt="Image" class="img-fluid"
                     style="width: 15rem; height: auto">
                Quel est ce pokemon ?
            </a>
        {% endif %}
    </div>
    {% if page_info.display_search_form %}
        <div class="form-search-pokemon">
            {% include 'forms/searchPokemon.html' with query=current_query %}
        </div>
    {% endif %}
{% endblock %}

{% block include %}
    {% include "modals/card.html" %}
    {% include "modals/createTeam.html" %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/api.js' %}"></script>
{% endblock %}