{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block page_title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="base-card"></div>
    <div class="rotated-card"></div>
    <div class="bottom-card"></div>
    <div class="side-card"></div>

    {% block content %}
    {% endblock %}
</body>
</html>