
.search-form {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-form input {
    margin: 0;
    width: 48%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1.3rem;
}

.search-form input:first-child:hover {
    cursor: inherit;
}